@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'ClashDisplay-Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #14131e;
  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #14131e;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

a,
button,
input {
  font-family: inherit;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}